#container{
    height:50px;
    width:900px;
    border:2px solid aqua;
    background-color: pink;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content:center;
}

#child{
    height:50px;
    width:80px;
    text-align: center;
    font-size: 24px;
    margin-left:5px;
    line-height: 50px;
}
