#container{
    height:400px;
    width:80%;
    background-color: white;
    margin:10px auto;
    border:2px solid black;
    display:flex; 
    flex-direction:row;
    /* flex-direction:column; */
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align content-> Distributes space between and around content items along a flexbox's cross axis */
    align-content:flex-start;
}

#violet{
    background-color: violet;
    height:60px;
    width:300px;
    text-align: center;
}

#indigo{
    background-color: indigo;
    height:60px;
    width:300px;
    text-align: center;
}

#blue{
    background-color: blue;
    height:60px;
    width:300px;
    text-align: center;
    /* align self-> aligns an item along the cross axis */
    /* align-self: flex-end; or start or baseline */
    align-self: center;
}

#green{
    background-color: green;
    height:60px;
    width:300px;
    text-align: center;
}

#yellow{
    background-color: yellow;
    height:60px;
    width:300px;
    text-align: center;
}

#orange{
    background-color: orange;
    height:60px;
    width:300px;
    text-align: center;
    font-size:2.5em;
}

#red{
    background-color: red;
    height:60px;
    width:300px;
    text-align: center;
}


h1{
    text-align: center;
}



